.main{ 
    text-align: center;
}

.result {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightskyblue;
    padding: 20px;
}

.result:first-of-type {
        border-top: 1px solid lightskyblue;
}

.homeLink{
    margin: 20px;
    display: inline-block;
}
